@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroy-regular.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroy-medium.ttf");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroy-semibold.ttf");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/gilroy-bold.ttf");
    font-style: normal;
    font-weight: 700;
}

html {
    font-family: 'Gilroy';
}

* {
    margin: 0;
}

body {
    background-color: #FFF;
}

.header-menu {
    height: 40px;
    margin-top: 40px;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    gap: 500px;
}

.menu-list {
    display: flex;
    flex-direction: row;
    gap: 18px;
    list-style: none;
    font-size: 14px;
    font-weight: 600;
    color: #000;
    text-decoration: none;
}

.menu-list-home {
    color: #F25822;
}

.intro {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    gap: 41px;
}

.intro-left {
    width: 522px;
    height: 374px;
}

.intro-right-img {
    width: 544px;
    height: 374px;
}

.intro-title {
    color: #000;
    font-size: 60px;
    font-weight: 700;
}

.intro-text {
    margin-top: 17px;
    color: #888;
    font-size: 20px;
    font-weight: 500;
    width: 466px;
}

.intro-buttons {
    display: flex;
    margin-top: 37px;
    gap: 72px;
}

.button-start {
    color: #FFF;
    font-size: 15px;
    font-weight: 700;
    width: 140px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
    background-color: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    border: none;
}

.button-watch {
    color: #AAA;
    font-size: 15px;
    font-weight: 700;
    border: none;
    background-color: inherit;
}

.logo-list {
    height: 243px;
    margin-top: 162px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 48px;
    margin-left: auto;
    margin-right: auto;
}

.bottom-logo {
    margin-top: 97px;
    width: 160px;
    height: 50px;
    flex-shrink: 0;
}

.upper-sect {
    display: flex;
    /* border: 1px solid #F30606; */
    /* height: 476px; */
    justify-content: center;
    background-color: #FFF;
}

.upper-block-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
}

.upper-block {
    /* border: 1px solid #000; */
    padding: 30px;
    /* width: 381px;
    height: 291px; */
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.upper-block:hover {
    background: #FFF;
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.block-img {
    width: 70px;
    height: 70px;
}

.block-tittle {
    color: #000;
    font-size: 24px;
    font-weight: 700;
}

.block-text {
    width: 310px;
    height: 42px;
    color: #666;
    font-size: 15px;
    font-weight: 400;
    line-height: 150%;
}

.block-link {
    color: #000;
    font-size: 11px;
    font-weight: 700;
    line-height: 150%;
    text-decoration: none;
}

/* .block-content {
    margin-left: 30px;
} */

.bottom-sect {
    margin-top: 10px;
    /* height: 898px; */
    /* border: 1px solid #000; */
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background-color: #FAFAFA;
}

.bottom-sect-tittle {
    margin-top: 92px;
    color: #000;
    font-size: 45px;
    font-weight: 700;

}

.bottom-sect-text {
    color: #666;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    width: 682px;
    text-align: center;
}

.bottom-blocks-border {
    /* width: 1440px; */
    max-width: 1440px;
    height: 616px;
    /* border: 1px solid #000; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.bottom-block {
    /* width: 370px;
    height: 549px; */
    /* border: 1px solid #000; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.bottom-block:hover {
    background: #FFF;
    box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.10);
}

.bottom-block-img {
    width: 370px;
    height: auto;
}

.bottom-block-tittle {
    color: #000;
    font-size: 24px;
    font-weight: 700;
}

.bottom-block-text {
    width: 310px;
    height: 63px;
    color: #AAA;
    font-size: 15px;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
}

.bottom-block-button {
    color: #FFF;
    font-size: 15px;
    font-weight: 700;
    width: 150px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
    background-color: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    border: none;
    margin-top: 20px;
}